body {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    color: goldenrod;
}

p {
    color: white;
}

#result {
    font-style: italic;
}

button {
    background-color: goldenrod;
    padding: 8px;
    display: block;
    cursor: pointer;
    width: 150px;
    border: none;
    color: #016f32;
}